@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;;
    list-style: none;
}
header .menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.2rem;
}
header .menu-mobile{
    display: none;
    width: 30%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
}
header .menu-mobile ul li{
    padding: 60px 0;
}
header .menu-mobile ul li a{
    text-decoration: none;
    color: #f9fcff;
    font-weight: 500;
}
header .menu_btn{
    display: none;
    position: fixed;
    right: 60px;
    z-index: 99;
}
header .menu_btn img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* -- HOME -- */
#home .container{
    width: 100%;
    height: 100vh;
    background: url(image/bg01.png) no-repeat;
    background-size: 100% 100%;
}
#home .container .content{
    width: 80%;
    height: 65vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column; 
    margin-left: 120px;
}
#home .container .content h1{
    font-size: 5rem;
    color: #ff0129;
    text-transform: uppercase;
    text-shadow: 0.03em 0.03em #333
}
#home .container .content p{
    font-size: 1.1rem;
    color: #363636;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 10px;
    width: 80%;
}
/*#home .container .content button{
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 15px;
    background-color: #1C1C1C;
    color: white;
}*/
/* -- O QUE SAO -- */
#definition .container{
    width: 100%;
    height: 100vh;
    background: url(image/bg02.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#definition .container h2{
    font-size: 1.2rem;
    font-weight: 450;
    padding: 10px;
    border: 2px solid #363636;
    background-color: 	#ff0129;
    color:#f9fcff;
    border-radius: 500px;
    margin-top: 50px;
}
#definition .container p{
    margin-top: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#definition .container h1{
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}
#definition .container .call{
    width: 60%;
    height: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#definition .container .call .left,
#definition .container .call .right{
    text-align: justify;
    margin-top: 20px;
    width: 45%;
    font-size: 1.09rem;
    letter-spacing: 1px;
    line-height: 1.3;
    color: #1C1C1C;    

}
#definition .container img{
    width: 250px;
    height: 150px;
    margin-top: 50px;
}

/* -- COMO SURGIRAM -- */
#origin .container{
    background: url(image/bg03.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#origin .container .left{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-left: 150px;
}
#origin .container .left span{
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 1.5;

}
#origin .container h2{
    align-content: center;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 60px;
    padding: 10px;
    border: 2px solid #363636;
    border-radius: 500px;
    background-color: 	#ff0129;
    color:#f9fcff;
}
#origin .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#origin .container h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}

/*-- COMO FUNCIONAM --*/
#howitworks .container{
    background: url(image/bg04.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#howitworks .container .content{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column; 
    letter-spacing: 1px;
}
#howitworks .container span{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.2rem;
}
#howitworks .container h2{
    border: 2px solid #363636;
    border-radius: 500px;
    background-color: 	#ff0129;
    color:#f9fcff;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 50px;
    padding: 10px;
}
#howitworks .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#howitworks .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}

/* -- COMO COMBATER -- */
#howtocombat .container{
    background: url(image/bg05.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#howtocombat .container .left{
    width: 50%;
    height: 50vh;
    text-align: justify;
    
}
#howtocombat .container .left h2{
    width: max-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 10px;
    border: 2px solid #363636;
    border-radius: 500px;
    background-color: 	#ff0129;
    color:#f9fcff;
}
#howtocombat .container .left p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#howtocombat .container .left h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}
#howtocombat .container .left span{
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-align: justify;
}
#howtocombat .container .right{
    width: 25%;
    height: 80vh;
}
#howtocombat .container .right h3{
    background: #ff0129;
    color:aliceblue;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0, 0, 8);
}
#howtocombat .container .right .box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(203, 221, 249, 0.3);
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#howtocombat .container .right .box .data{
    padding: 20px;
}
#howtocombat .container .right .box .info span{
    text-transform: uppercase;
    font-size: 1.1rem;
}
#howtocombat .container .right .box .info p{
    font-size: 0.9rem;
}
/* --- QUESTIONARIO --- */
#question .container{
    background: url(image/bg06.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#question .container .content{
    width: 90%;
    display: flex;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color:#1C1C1C;
    justify-content:space-between;
    align-items: center;
}
#question .container .content .left{
    width: 45%;
}
#question .container .content .right{
    width: 50%;
}
#question .container h2{
    border: 2px solid #1C1C1C;
    border-radius: 500px;
    background-color: 	#ff0129;
    color:#f9fcff;
    align-content: left;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 50px;
    padding: 10px;
}
#question .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#question .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}

/* --- RODAPÉ --- */
footer{
    width: 100%;
    height: 60px;
    background: rgba(185, 4, 4, 1.3);
    text-align: center;
    position: relative;
    bottom: 60px;
}
footer span{
    line-height: 60px;
    color: #f9fcff;
}
footer a{
    text-decoration: none;
    color: #4a75a6;
}

/* ---- Responsividade ---- */
@media screen and (max-width: 992px) {
    /* Home */
    #home .container{
        background-size: cover;
    }
    #home .container content{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    #home .container .content h1{
        font-size: 4rem;
    }
    #home .container .content p{
        width: 500px;
        font-size: 1.3rem;
        margin-top: 30px;
    }
    /*O que são*/
    #definition .container{
        background-size: cover;
    }
    #definition .container h1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #definition .container .call{
        width: 60%;
    }
    #definition .container .call .left, 
    #definition .container .call .right {
        font-size: 1rem;
        margin-top: 50px;
    }
    /*Como surgiram*/
    #origin .container {
        background-size: cover;
    }

    /*Como funcionam*/
    #howitworks .container {
        background-size: cover;
    }

    /*Como evitar cair nas fake news*/
    #howtocombat .container{
        background-size: cover;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #howtocombat .container .left{
        width: 80vh;
        height: 40vh;
    }
    #howtocombat .container .left h2{
        margin:0 auto;
    }
    #howtocombat .container .left p{
        text-align: center;
    }
    #howtocombat .container .left h1{
        text-align: center;
    }
    #howtocombat .container .left span{
        font-size: 1rem;
        text-align: justify;
    }
    #howtocombat .container .right{
        width: 45%;
        height: 50vh;
    }
    #howtocombat .container .right h3{
        text-align: center;
        margin-top: 1px;
    }
    #howtocombat .container .right .box .data span{
        font-size: 1.5rem;
    }
    #howtocombat .container .right .box .info p{
        font-size: 0.9rem;
    }
    /* -- Questionario -- */
    #question .container{
        background-size: cover;
    }
    #question .container h1{
        font-size: 2rem;
    }
    #question .container .content{
        width: 80%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #question .container .content .left{
        width: 50%;
    }
    #question .container .content .right{
        width: 50%;
    }
}

@media screen and (max-width: 720px){
    header .menu{
        display: none;
    }
    header .menu_btn{
        display: block;
    }
    #home .container{
        background-size: cover;
    }
        /* O que são */
    #definition .container h1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #definition .container .call{
        width: 85%;
    }
    #definition .container .call .left, 
    #definition .container .call .right {
        font-size: 1rem;
        margin-top: 40px;
    }
    /*Como surgiram*/
    #origin .container {
        background-size: cover;
    }
    #origin .container .left{
        width: 80%;
        margin-left: 50px;
    }
    #origin .container .left h1{
        font-size: 2rem;
    }
    #origin .container .left span{
        font-size: 0.9rem;
    }

    /*Como funcionam*/
    #howitworks .container {
        background-size: cover;
    }
    #howitworks .container h1{
        font-size: 2rem;
    }
    #howitworks .container .content{
        width: 90%;
    }
    #howitworks .container .content span{
        font-size: 0.8rem;
    }

    /*Como evitar cair nas fake news*/
    #howtocombat .container{
        background-size: cover;
        flex-direction: column;
    }
    #howtocombat .container .left{
        width: 80vh;
        height: 20vh;
    }
    #howtocombat .container .left h2{
        margin:0 auto;
    }
    #howtocombat .container .left p{
        text-align: center;
    }
    #howtocombat .container .left h1{
        text-align: center;
        font-size: 2rem;
    }
    #howtocombat .container .left span{
        display: none;
/*        margin-top: 20px;
        font-size: 1rem;
        text-align: justify;*/
    }
    #howtocombat .container .right{
       /* width: 90%;
        display: flex;
        flex-direction: column;
        padding: 10px;*/

        width: 100%;
        height: auto;
        padding: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
    }
    #howtocombat .container .right .box .data span{
        font-size: 1.5rem;
    }
    #howtocombat .container .right .box .info p{
        display: none;
    }
    #question .container{
        background-size: cover;
    }
    #question .container{
        background-size: cover;
        flex-direction: column;
    }
    #question .container .content .left{
        width: 80vh;
        font-size: 1rem;
    }
    #question .container .content .right{
        width: 80vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 620px){
    header .menu{
        display: none;
    }
    header .menu_btn{
        display: block;
    }
    #home .container {
        width: 90vh;
    }
    #home .container .content{
        width: 80%;
        margin-left: 50px;
    }
    #home .container .content h1{
        font-size: 3rem;
    }
    #home .container .content p{
        width: 80%;
        font-size: 1rem;
        margin-top: 30px;
    }
        /* O que são */
    #definition .container {
        width: 90vh;
    }
    #definition .container h1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #definition .container .img{
        display: none;
    }
    #definition .container .call{
        width: 80%;
    }
    #definition .container .call .left, 
    #definition .container .call .right {
        font-size: 0.9rem;
        margin-top: 100px;
    }
    /*Como surgiram*/
    #origin .container {
        width: 90vh;
    }
    #origin .container .left{
        width: 80%;
        margin-left: 40px;
    }
    #origin .container .left h1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #origin .container .left span{
        font-size: 0.8rem;
        flex-direction: column;
    }
    /*Como funcionam*/
    #howitworks .container {
        width: 90vh;
    }
    #howitworks .container .content{
        width: 80%;
    }
    #howitworks .container h1{
        margin-top: 10px;
        font-size: 2rem;
    }
    #howitworks .container .content span{
        font-size: 0.8rem;
    }
    /*Como evitar cair nas fake news*/
    #howtocombat .container{
        width: 90vh;
        flex-direction: column;
    }
    #howtocombat .container .left{
        width: 80%;
        margin-top: 150px;
    }
    #howtocombat .container .left h2{
        font-size: 1rem;
    }
    #howtocombat .container .left p{
        text-align: center;
    }
    #howtocombat .container .left h1{
        text-align: center;
        font-size: 2rem;
    }
    #howtocombat .container .left span{
        width: 95%;
        font-size: 0.8rem;
        text-align: center;
    }
    #howtocombat .container .right{
        width: 100%;
        height: auto;
        padding: 80px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
    }
    #howtocombat .container .right .box{
        width: 100%;
    }
    #howtocombat .container .right .box .data span{
        /*ícones*/
        font-size: 1.5rem;
    }
    #howtocombat .container .right .box .info p{
        /*texto informativo*/
        display: none;
    }
    #howtocombat .container .right .box .info span{
        font-size: 1rem;
    }

    #question .container{
        width: 90vh;
        text-align: center;
        margin-top: 70px;
    }
    #question .container .content .left{
        width: 80%;
        font-size: 0.8rem;
    }
    #question .container .content .right{
        align-items: center;
    }
    footer{
        width: 90vh;
    }
}
