@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo img{
    width: 200px;
    height: 100%;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;;
    list-style: none;
}
header .menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #363636;
    font-size: 1.2rem;
}

/* -- HOME -- */
#home .container{
    width: 100%;
    height: 100vh;
    background: url(image/bg1.png) no-repeat;
    background-size: 100% 100%;

}
#home .container .content{
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column; 
    margin-left: 150px;
}
#home .container .content h1{
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
}
#home .container .content p{
    font-size: 1.1rem;
    color: #363636;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 10px;
    width: 80%;
}
#home .container .content button{
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 15px;
    background-color: #696969;
    color: white;
}
/* -- O QUE SAO -- */
#definition .container{
    width: 100%;
    height: 100vh;
    background: url(image/bg2.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#definition .container h2{
    font-size: 1.2rem;
    font-weight: 450;
    padding: 10px;
    border: 2px solid #363636;
    border-radius: 500px;
    margin-top: 50px;
}
#definition .container p{
    margin-top: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#definition .container h1{
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}
#definition .container .call{
    width: 60%;
    height: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#definition .container .call .left,
#definition .container .call .right{
    text-align: justify;
    margin-top: 20px;
    width: 45%;
    font-size: 1.09rem;
    letter-spacing: 1px;
    line-height: 1.3;
    color: #1C1C1C;    

}
#definition .container img{
    width: 250px;
    height: 150px;
    margin-top: 50px;
}

/* -- COMO SURGIRAM -- */
#origin .container{
    background: url(image/bg3.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#origin .container .left{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-left: 150px;
}
#origin .container .left span{
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.5;

}
#origin .container h2{
    align-content: center;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 60px;
    padding: 10px;
    border: 2px solid #363636;
    border-radius: 500px;
}
#origin .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#origin .container h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}

/*-- COMO FUNCIONAM --*/
#howitworks .container{
    background: url(image/bg4.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#howitworks .container .content{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column; 
    letter-spacing: 1px;
}
#howitworks .container span{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.1rem;
}
#howitworks .container h2{
    border: 2px solid #363636;
    border-radius: 500px;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 50px;
    padding: 10px;
}
#howitworks .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#howitworks .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}

/* -- COMO COMBATER -- */
#howtocombat .container{
    background: url(image/bg5.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#howtocombat .container .left{
    width: 50%;
    height: 80vh;
    text-align: justify;
}
#howtocombat .container .left h2{
    width: max-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 10px;
    border: 2px solid #363636;
    border-radius: 500px;
}
#howtocombat .container .left p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#howtocombat .container .left h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}
#howtocombat .container .left span{
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-align: justify;
}
#howtocombat .container .right{
    width: 25%;
    height: 80vh;
}
#howtocombat .container .right h3{
    background: rgba(185, 4, 4, 1.6);
    color:aliceblue;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0, 0, 8);
}
#howtocombat .container .right .box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(203, 221, 249, 0.3);
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#howtocombat .container .right .box .data{
    padding: 20px;
}
#howtocombat .container .right .box .info span{
    text-transform: uppercase;
    font-size: 1.1rem;
}
#howtocombat .container .right .box .info p{
    font-size: 0.9rem;
}
/* --- QUESTIONARIO --- */
#question .container{
    background: url(image/bg6.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#question .container .content{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column; 
    letter-spacing: 1px;
    font-size: 1.2rem;
    color:#1C1C1C;
}
#question .container h2{
    border: 2px solid #363636;
    border-radius: 500px;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 50px;
    padding: 10px;
}
#question .container p{
    text-transform: uppercase;
    margin-top: 10px;
    color: #1C1C1C;
    letter-spacing: 3px;
}
#question .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1C1C1C;
}
